name: Production

on:
  push:
    branches:
      - master

jobs:
  job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install NPM Dependencies
        run: |
          echo @hoseung-only:registry=https://npm.pkg.github.com/ > .npmrc
          echo //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }} >> .npmrc
          npm ci

      - name: Build
        run: |
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" > .env
          npm run build

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-northeast-2
        run: |
          aws s3 sync ./out s3://blog.hoseung.me --acl public-read --delete
          aws cloudfront create-invalidation --distribution-id E2S9Y9KO0OX20A --paths "/*"
